<!doctype html>
%html
  %head
    %title Mike Kendall Photography
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "/css/foundation.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    WHAT IS GOING ON
