<!doctype html>
%html
  %head
    %title Mike Kendall Photography
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "/css/foundation.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/kendall.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,700', :rel => 'stylesheet', :type => 'text/css'}/
  %body
    .row
      .large-12.small-12.text-center
        %h1
          Mike Kendall Photography
    .row
      .large-12.small-12.text-center
        %h3
          Announcing the Desert Portfolio
    .row
      .large-8.large-offset-2.small-10.small-offset-1.text-center
        %img{src: 'img/sample1.jpg'}
    %br/
    .row
      .large-8.large-offset-2.small-10.small-offset-1.text-center
        %img{src: 'img/sample2.jpg'}
    %br/
    .row
      .large-8.large-offset-2.small-10.small-offset-1.text-center
        %img{src: 'img/sample3.jpg'}
    .row
      .large-12.small-12.text-center
        %h2
          Master Black &amp; White Photographer
    .row
      .large-12.small-12.text-center
        %a{href:'mailto:mikekendallphotography@gmail.com'}
          Contact mikekendallphotography@gmail.com

